[Unit]
Description=Instruqt AWS credentials configuration
After=local-fs.target network-online.target network.target rsyslog.service
After=google-instance-setup.service google-network-setup.service
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/usr/local/bin/instruqt-configure-aws
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
