[Unit]
Description=Instruqt GCloud credentials configuration
After=google-startup-scripts.service

[Service]
ExecStart=/usr/local/bin/instruqt-configure-gcloud
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
